Repository HewlettPackard/galadriel, pull requests merged in 2022-10, with the labels that each got.

#57 Adds CLI cmd to list Members and Relationships
  cmd/server/cli/list.go
  cmd/server/util/client.go
  pkg/server/datastore/datastore.go
  pkg/server/endpoints/management.go
  pkg/server/endpoints/run.go
Labels: server

#54 Send Trust Bundle from Harvester to Server
  cmd/harvester/cli/config.go
  conf/harvester/harvester.conf
  pkg/common/api.go
  pkg/harvester/client/server.go
  pkg/harvester/config.go
  pkg/harvester/controller/controller.go
  pkg/harvester/harvester.go
Labels: harvester

#62 Sync federated bundles loop
  cmd/harvester/cli/run.go
  pkg/common/api.go
  pkg/common/util/task.go
  pkg/harvester/client/server.go
  pkg/harvester/controller/controller.go
  pkg/harvester/controller/watcher/bundle.go
  pkg/harvester/harvester.go
  pkg/harvester/spire/bundleclient.go
  pkg/harvester/spire/client_fake_test.go
  pkg/harvester/spire/proto.go
  pkg/harvester/spire/spire.go
  pkg/harvester/spire/types.go
  pkg/server/endpoints/run.go
  pkg/server/server.go
Labels: harvester

#68 [ATB-140] Open source guidelines
  GOVERNANCE.md
  LICENSE.md
  README.md
  SECURITY.md
  conf/harvester/harvester.conf
  doc/INSTRUCTIONS.md
  doc/USAGE.md
Labels: documentation, enhancement
